<%- include('partials/header') -%>
<div class="container mx-auto" style="width: 400px;">
  <div class="row mt-5">
      <div>
    
        <div>
            <h2>Create a post</h2>
          <form action="/account/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3 form-group required">
                  <label for="name" class="form-label">Name</label>
                  <input type="name" class="form-control" id="name" name="name" required>
              </div>

              <div class="form-group required">
                <label for="age" class="form-label" >Age</label>
                <input type="age" class="form-control" id="age" name="age" required>
              </div>

              <div class="form-group required">
                <label for="type-select">Choose a type:</label>
                <select name="type" id="type-select" required>
                  <option value="">--Please choose an option--</option>
                  <option value="dog">Dog</option>
                  <option value="cat">Cat</option>
                  <option value="cow">Cow</option>
                  <option value="horse">Horse</option>
                  <option value="goat">Goat</option>
                  <option value="pig">Pig</option>
                  <option value="others">Others</option>
                </select>
              </div>

              <div class="form-group required">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" required></textarea>
              </div>

              <div >
                <label for="likes" class="form-label">Likes</label>
                <textarea class="form-control" id="likes" name="likes"></textarea>
              </div>

              <div>
                <label for="dislikes" class="form-label">Dislikes</label>
                <textarea class="form-control" id="dislikes" name="dislikes"></textarea>
              </div>

              <div>
                <label for="specialNeeds" class="form-label">Special Needs</label>
                <textarea class="form-control" id="specialNeeds" name="specialNeeds"></textarea>
              </div>

              <div class="form-group required">
                <label for="forAdoption-select" class="form-label">For Adoption</label>
                  <select name="forAdoption" id="forAdoption-select" required>
                    <option value="">--Please choose an option--</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div>

              <div class="form-group required">
                <label for="forFoster-select" class="form-label">For Foster</label>
                  <select name="forFoster" id="forFoster-select" required>
                    <option value="">--Please choose an option--</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
              </div>

              <div class="form-group required">
                <label for="location" class="form-label">Location</label>
                  <select name="location" list="datalistOptions" id="location" required>
                  <datalist  id="datalistOptions">
                    <option value="">--Please choose your county--</option>
                    <option value="Alba">Alba</option>
                    <option value="Arad">Arad</option>
                    <option value="Arges">Arges</option>
                    <option value="Bacau">Bacau</option>
                    <option value="Bihor">Bihor</option>
                    <option value="Bistrita-Nasaud">Bistrita-Nasaud</option>
                    <option value="Botosani">Botosani</option>
                    <option value="Brasov">Brasov</option>
                    <option value="Braila">Braila</option>
                    <option value="Bucuresti">Bucuresti</option>
                    <option value="Buzau">Buzau</option>
                    <option value="Calarasi">Calarasi</option>
                    <option value="Caras - Severin">Caras - Severin</option>
                    <option value="Cluj">Cluj</option>
                    <option value="Constanta">Constanta</option>
                    <option value="Covasna">Covasna</option>
                    <option value="Dambovita">Dambovita</option>
                    <option value="Dolj">Dolj</option>
                    <option value="Galati">Galati</option>
                    <option value="Giurgiu">Giurgiu</option>
                    <option value="Gorj">Gorj</option>
                    <option value="Harghita">Harghita</option>
                    <option value="Hunedoara">Hunedoara</option>
                    <option value="Ialomita">Ialomita</option>
                    <option value="Iasi">Iasi</option>
                    <option value="Ilfov">Ilfov</option>
                    <option value="Maramures">Maramures</option>
                    <option value="Mehedinti">Mehedinti</option>
                    <option value="Mures">Mures</option>
                    <option value="Neamt">Neamt</option>
                    <option value="Olt">Olt</option>
                    <option value="Prahova">Prahova</option>
                    <option value="Salaj">Salaj</option>
                    <option value="Satu Mare">Satu Mare</option>
                    <option value="Sibiu">Sibiu</option>
                    <option value="Suceava">Suceava</option>
                    <option value="Teleorman">Teleorman</option>
                    <option value="Timis">Timis</option>
                    <option value="Tulcea">Tulcea</option>
                    <option value="Valcea">Valcea</option>
                    <option value="Vaslui">Vaslui</option>
                    <option value="Vrancea">Vrancea</option>
                  </datalist>
                  </select>
                  <!-- end of location -->
              </div>

              <div class="form-group required">
                <label for="imgUpload" class="form-label">Image</label>
                <!-- allows to choose the file type = 'file' -->
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          </form>
          </div>
      </div>
      
      </div>  
      <div class="form-group required  pt-4">
        <label  class="control-label fw-bolder ">Required</label>
      </div>
    </div>
      
    <!-- end div row -->
  </div>
  <!-- end of container -->
</div>
<%- include('partials/footer') -%>