<%- include('partials/header') -%>
<div class="container mx-auto main" style="width: 500px">
  <div class="row">
    <h2 class="text-peach pt-3 text-center">Create an update</h2>

    <!--start of update form  -->
    <form
      action="/animalUpdates/createAnimalUpdates"
      enctype="multipart/form-data"
      method="POST"
    >
      <!-- name input -->
      <div class="mb-3 form-group required">
        <label for="name" class="form-label text-light">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
        />
      </div>

      <!-- updates input -->
      <div class="form-group required">
        <label for="updates" class="form-label text-light">Updates</label>
        <textarea
          class="form-control text-minty"
          id="updates"
          name="updates"
        ></textarea>
      </div>

      <!-- struggles input -->
      <div class="mb-3">
        <label for="struggles" class="form-label text-light pt-3"
          >Struggles</label
        >
        <textarea
          class="form-control text-minty"
          id="struggles"
          name="struggles"
        ></textarea>
      </div>

      <!-- adopted by input -->
      <div class="mb-3 form-group required">
        <label for="adoptedByName" class="form-label text-light"
          >Adopted by:</label
        >
        <input
          type="text"
          class="form-control"
          id="adoptedByName"
          name="adoptedByName"
        />
      </div>

      <!-- adopted date input -->
      <div class="mb-3 form-group required">
        <label for="takeAwayDate" class="form-label text-light"
          >Adopted date:</label
        >
        <input
          type="date"
          class="form-control"
          id="takeAwayDate"
          name="takeAwayDate"
        />
      </div>

      <!-- img upload -->
      <div class="form-group required">
        <label for="imgUpload" class="form-label text-light">Image</label>
        <!-- allows to choose the file type = 'file' -->
        <input
          type="file"
          class="form-control text-minty"
          id="imageUpload"
          name="file"
        />
      </div>

      <!-- submit btn -->
      <div class="pt-3 d-flex justify-content-center mb-3">
        <button
          type="submit"
          class="btn btn-primary text-powder bg-minty fw-semibold"
          value="Upload"
        >
          Submit
        </button>
      </div>

      <!-- end of update form -->
    </form>

    <!-- end div row -->
  </div>

  <!-- end of container main -->
</div>

<%- include('partials/footer') -%>
