<%- include('partials/header') -%>
<section class="main">
  <div class="container-lg my-5">
    <div class="container-fluid">
      <h2 class="display-6 text-center text-danger fw-bold fst-italic">
        About the site
      </h2>
      <p class="text-justify fst-italic">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut provident,
        facere amet, neque explicabo quasi excepturi at omnis quam temporibus
        nulla, sapiente reprehenderit. Est, voluptatum suscipit eveniet voluptas
        amet quidem?
      </p>
      <!-- end about -->
    </div>
    <h3 class="text-center text-danger">Movie</h3>
    <div class="container text-justify">
      
      <div class="row">
        
          <section class="choose row col-lg-6">
            <h5>Choose what you want to see:</h5>
        <div class="col-md">
          <h5 class="fs-4 pb-2">Genre</h5>
          <ul class="row list-unstyled">
            <li class="checkbox">
              <input class="checkbox-flip" type="checkbox" id="check1"/>
              <label for="check1"><span></span>Action/ Adventure</label>
            </li>
            <li class="checkbox">
              <input class="checkbox-flip" type="checkbox" id="check2"/>
              <label for="check2"><span></span>Cult</label>
            </li>
            <li class="checkbox">
              <input class="checkbox-flip" type="checkbox" id="check3"/>
              <label for="check3"><span></span>Comedy</label>
            </li>
            <li class="checkbox">
              <input class="checkbox-flip" type="checkbox" id="check4"/>
              <label for="check4"><span></span>Children/ Family Movies</label>
            </li>
            <li class="checkbox">
              <input class="checkbox-flip" type="checkbox" id="check5"/>
              <label for="check5"><span></span>Horror</label>
            </li>
            <li class="checkbox">
              <input class="checkbox-flip" type="checkbox" id="check6"/>
              <label for="check6"><span></span>Romantic</label>
            </li>
            <li class="checkbox">
              <input class="checkbox-flip" type="checkbox" id="check7"/>
              <label for="check7"><span></span>SCI-FI/Fantasy</label>
            </li>
            <li class="checkbox">
              <input class="checkbox-flip" type="checkbox" id="check8"/>
              <label for="check8"><span></span>Thriller</label>
            </li>
          </ul>
       
        </div>
        <div class="col-md">
          <h5 class=" year fs-4 pb-2">Year</h5>
          <ul class="row list-unstyled">
            <li class="checkbox">
              <input class="checkbox-flip" type="checkbox" id="check9"/>
              <label for="check9"><span></span> 1960</label>
            </li>
            <li class="checkbox">
              <input class="checkbox-flip" type="checkbox" id="check10"/>
              <label for="check10"><span></span> 1970</label>
            </li>
            <li class="checkbox">
              <input class="checkbox-flip" type="checkbox" id="check11"/>
              <label for="check11"><span></span> 1980</label>
            </li>
            <li class="checkbox">
              <input class="checkbox-flip" type="checkbox" id="check12"/>
              <label for="check12"><span></span> 1990</label>
            </li>
            <li class="checkbox">
              <input class="checkbox-flip" type="checkbox" id="check13"/>
              <label for="check13"><span></span> 2000</label>
            </li>
            <li class="checkbox">
              <input class="checkbox-flip" type="checkbox" id="check14"/>
              <label for="check14"><span></span> 2010</label>
            </li>
            <li class="checkbox">
              <input class="checkbox-flip" type="checkbox" id="check15"/>
              <label for="check15"><span></span> 2020</label>
            </li>
          </ul>
         
        </div>
        <!-- <div class="col-md">
          <span>Rating</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
         
        </div> -->
        <div class="col-md">
          <form action="" method="get">
          <button type="button" class="btn btn-danger btn-rounded">Search</button>
        </form>
        </div>
        <!-- end of sec choose -->
          </section>

          <section class="result col-lg-6">
            <h5>Our picks for you:</h5>
        <div class="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam id dolorem provident reprehenderit animi, harum tenetur libero nemo praesentium voluptatem ipsa quia dolorum rem, quisquam magnam ullam nostrum. Dolorem, blanditiis!</p>

           <!-- end of secon main col -->
        </div>
        <!-- end of result section -->
          </section>
        <!-- main columns -->
      </div>

    <!-- end of the main section  -->
  </div>
</section>

<%- include('partials/footer') -%>
