<%- include('partials/header') -%>
<main class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="text-center text-minty mt-3 fw-bold fs-3">
        Create an Account
      </div>
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
      <div class="card my-5">
        <form
          action="/signup"
          method="POST"
          class="card-body cardbody-color p-lg-5 main"
        >
          <div class="text-center">
            <img
              src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
              class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
              width="200px"
              alt="profile"
            />
          </div>
          <div class="mb-3">
            <label for="userName" class="form-label text-powder fw-semibold"
              >User Name</label
            >
            <input
              type="text"
              class="form-control text-minty"
              id="userName"
              name="userName"
            />
          </div>
          <div class="mb-3">
            <label
              for="exampleInputEmail1"
              class="form-label text-powder fw-semibold"
              >Email address</label
            >
            <input
              type="email"
              class="form-control text-minty"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="email"
            />
            <div id="emailHelp" class="form-text text-powder">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label text-powder fw-semibold m-2"
              >Password</label
            ><i
              class="bi bi-info-circle-fill"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="At least 6 characters long!"
            ></i>
            <input
              type="password"
              class="form-control text-minty"
              id="password"
              name="password"
            />
          </div>
          <div class="mb-3">
            <label
              for="confirmPassword"
              class="form-label text-powder fw-semibold"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control text-minty"
              id="confirmPassword"
              name="confirmPassword"
            />
          </div>

          <label for="role" class="text-powder fw-semibold">You are:</label>

          <select name="role" id="role" class="text-minty">
            <option value="">--Please choose an option--</option>
            <option value="org">Org/NGO</option>
            <option class="text-minty" value="user">User</option>
          </select>

          <div class="text-center mt-3">
            <button
              type="submit"
              class="btn btn-minty px-5 mb-5 text-powder fw-semibold"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>
