<li><strong>
    <form
      action="/user/rate/<%=user._id%>?_method=PUT"
      method="POST"
    >
  <!-- if the user already clicked Adorable btn the btn will not be display anymore -->
    <% if (errorRate) { %>
      <button type="button" class="btn btn-success mb-1" disabled><%=errorRate%> </button>
       <% } else { %>
        <li>Adorable?<button class="btn" type="submit">
        <i class="fas fa-paw"></i>
      </button>
        <% } %>
  </li>
 
    </form>
    
    <!-- end rate/adorable form -->
  </li>
  
  <!-- start reported form -->
  <li><strong>
    <form
      action="/user/reported/<%= user.id %>?_method=PUT"
      method="POST"
    >
    <% if (errorReport) { %>
      <button type="button" class="btn btn-danger" disabled><%=errorReport%> </button></div>
       <% } else { %>
    <li>Report user:<button class="btn" type="submit"> <i class="fas fa-frown"></i>
    </button>
    <% } %>
  </li>
    </form>
    <!-- end reported form -->
