<%- include('partials/header') -%>
<div class="container main">
  <div class="col-10 mx-auto">
    <div class="row">
      <h3 class="text-powder text-center pt-5">Tips & tricks</h3>
      <p class="lead text-powder fw-semibold indent pt-2">
        Congrats! You are now a new pet owner/fosterers. Here are some hacks
        that will helps you to better understanding and take care of you're new
        furry friend.
      </p>
      <h3 class="text-powder text-center ">Piece of advice</h3>
  <p class="lead text-powder fw-semibold indent pt-2">As a new pet owner or fosterer, it's <strong>important</strong> to make sure you have all the necessary supplies for your new pet and to set up a regular feeding and watering schedule. Giving your pet plenty of exercise and playtime will help keep them happy and healthy, and it's <em>important</em> to provide them with a safe and comfortable place to sleep. It's also important to keep your pet's living area clean and to take them to the vet for regular check-ups and any necessary vaccinations. In order to provide the best care for your pet, it's important to get to know their personality and needs, and to provide them with plenty of mental and physical stimulation. <strong>Consistency</strong> is key when it comes to setting rules and training techniques, and it's <em>important</em> to be patient and understanding with your pet, especially as they are still learning and adjusting to their new environment.</p>
    </div>
    <h3 class="text-powder text-center ">Tips & tricks</h3>
    
  </div>

  <!-- ======= Tips Section ======= -->
  <section id="tips-us" class="tips-us section-bg">
    <div class="container" data-aos="fade-up">
      <div class="col-lg-12 d-flex align-items-center">
        <div class="row gy-4">
          <div class="row gy-4">
            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
              <div
                class="icon-box d-flex flex-column justify-content-center align-items-center"
              >
              <i class="fas fa-paw"></i>
                <p>Research the breed and specific needs of your pet.</p>
              </div>
            </div>
            <!-- End 1.1 Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
              <div
                class="icon-box d-flex flex-column justify-content-center align-items-center"
              >
              <i class="fas fa-bacon"></i>
                <p>
                  Set up a routine for your pet. This can include regular
                  feeding times, exercise periods, and designated areas for
                  sleeping and using the bathroom.
                </p>
              </div>
            </div>
            <!-- End 1.2 Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
              <div
                class="icon-box d-flex flex-column justify-content-center align-items-center"
              >
              <i class="bi bi-droplet-fill"></i>
                <p>
                  Make sure your pet has access to clean water at all times.
                </p>
              </div>
            </div>
            <!-- End 1.3 Box -->
          </div>
        </div>
      </div>
    
    <!-- start second row of boxes -->
      <div class="col-lg-12 d-flex align-items-center">
        <div class="row gy-4">
          <div class="row gy-4">
            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
              <div
                class="icon-box d-flex flex-column justify-content-center align-items-center"
              >
              <i class="fas fa-tags"></i>

                <p>
                  Consider getting your pet microchipped and/or wearing a collar
                  with identification tags. This can help ensure that you are
                  reunited with your pet if it ever becomes lost.
                </p>
              </div>
            </div>
            <!-- End 2.1 Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
              <div
                class="icon-box d-flex flex-column justify-content-center align-items-center"
              >
              <i class="fas fa-exclamation"></i>

                <p>
                  Establish boundaries and rules for your pet, and be consistent
                  in enforcing them. This can help prevent behavior problems
                  from developing.
                </p>
              </div>
            </div>
            <!-- End 2.2 Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
              <div
                class="icon-box d-flex flex-column justify-content-center align-items-center"
              >
              <i class="fas fa-clock"></i>

                <p>
                  Don't leave your pet alone for long periods of time. Make sure
                  someone is available to check on it and provide necessary
                  care.
                </p>
              </div>
            </div>
            <!-- End 2.3 Box -->
          </div>
        </div>
      </div>
      
      <!-- start third row of boxes -->
        <div class="col-lg-12 d-flex align-items-center">
          <div class="row gy-4">
            <div class="row gy-4">
              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                <div
                  class="icon-box d-flex flex-column justify-content-center align-items-center"
                >
                <i class="fas fa-syringe"></i>

                  <p>
                    Keep your pet up-to-date on vaccinations and preventive
                    care, such as flea and tick treatment.
                  </p>
                </div>
              </div>
              <!-- End 3-1 Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                <div
                  class="icon-box d-flex flex-column justify-content-center align-items-center"
                >
                <i class="fas fa-dog"></i>

                  <p>
                    Find a reputable veterinarian and establish a relationship
                    with them.
                  </p>
                </div>
              </div>
              <!-- End 3.2 Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                <div
                  class="icon-box d-flex flex-column justify-content-center align-items-center"
                >
                <i class="fas fa-heart"></i>

                  <p>
                    Most importantly, show your pet love and affection, and
                    provide a safe and welcoming environment for it to call
                    home.
                  </p>
                </div>
              </div>
              <!-- End 3.3 Box -->
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>
  <!-- End Tips Section -->

  
</div>
<%- include('partials/footer') -%>
